
p,ul{color:white; text-align:center;
	font-size:150%;
}
form{color:black; text-align:center;
	font-size:100%
	
}
body {background-image:url("grey.jpg"); 
	
}
h2,h1{background-color:white;

}
em{color:white;
}
ul{color:white;
}
